input[type="submit"] {
    width: 70px;
    color: #ffffff;
    background-color: darkolivegreen;
}
h1.alert {
    text-align: center;
    font-family: "Arial Black", Serif;
}
#login-form {
    width: 30%;
    margin: auto;
}
#balance_board {
    width: 38%;
    margin: auto;
    border: 2px solid #D6E7FC;
    text-align: center;
}

#balance_value {
    font-size: 35px;
    font-weight: 700;
}

#dashboard_buttons {
    justify-content: center;
    display: flex;
}

#arena {
    width: 52%;
    border: 2px solid #D6E7FC;
    margin: 5px auto;
    height: 500px;
}

#transfer_arena {
    width: 50%;
    margin: 5px auto;
}
#transfer_form_arena {
    display: none;
}
#errorMessage {
    color: red;
    font-size: 14px;
}
#dashboard_buttons button {
    margin: 6px;
}
#recipient_form {
    border: 2px solid #D6E7FC;
    margin-top: 5px;
    border-radius: 10px;
    padding-top: 8px;
    justify-content: center;
    display: flex;
}
#transaction_list {
    width: 80%;
    margin: auto;
    text-align: center;
    display: none;
}
#no_account {
    color: red;
    text-align: center;
    margin-top: -4%;
    font-size: 14px;
}
#loaderDiv {
    display: none;
    color: greenyellow;
    text-align: center;
    margin-top: -2%;
    font-size: 14px;
}
.bold_text {
    font-weight: 700;
    margin: 10px;
}